
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>

  </head>

  <body>

    <% include ./partials/navbar %>

    <div class="container">

    <%- body -%>

    </div>


  <% include ./partials/interact %>
  </body>
</html>
